In [47]:
import pandas as pd
import xgboost as xgb
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn import model_selection
from sklearn.preprocessing import LabelEncoder
import statsmodels.api as sm
pd.set_option("display.max_rows", None)

In [15]:
data = pd.read_excel('data/scoring_case.xlsx')
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1.0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0.0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0.0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0.0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0.0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [68]:
filled_cells = data.count()
filled_cells

SK_ID_CURR                      6797
TARGET                          5797
NAME_CONTRACT_TYPE              6797
CODE_GENDER                     6797
FLAG_OWN_CAR                    6797
FLAG_OWN_REALTY                 6797
CNT_CHILDREN                    6797
AMT_INCOME_TOTAL                6797
AMT_CREDIT                      6797
AMT_ANNUITY                     6797
AMT_GOODS_PRICE                 6793
NAME_TYPE_SUITE                 6769
NAME_INCOME_TYPE                6797
NAME_EDUCATION_TYPE             6797
NAME_FAMILY_STATUS              6797
NAME_HOUSING_TYPE               6797
REGION_POPULATION_RELATIVE      6797
DAYS_BIRTH                      6797
DAYS_EMPLOYED                   6797
DAYS_REGISTRATION               6797
DAYS_ID_PUBLISH                 6797
OWN_CAR_AGE                     2294
FLAG_MOBIL                      6797
FLAG_EMP_PHONE                  6797
FLAG_WORK_PHONE                 6797
FLAG_CONT_MOBILE                6797
FLAG_PHONE                      6797
FLAG_EMAIL                      6797
OCCUPATION_TYPE                 4703
CNT_FAM_MEMBERS                 6797
REGION_RATING_CLIENT            6797
REGION_RATING_CLIENT_W_CITY     6797
WEEKDAY_APPR_PROCESS_START      6797
HOUR_APPR_PROCESS_START         6797
REG_REGION_NOT_LIVE_REGION      6797
REG_REGION_NOT_WORK_REGION      6797
LIVE_REGION_NOT_WORK_REGION     6797
REG_CITY_NOT_LIVE_CITY          6797
REG_CITY_NOT_WORK_CITY          6797
LIVE_CITY_NOT_WORK_CITY         6797
ORGANIZATION_TYPE               6797
EXT_SOURCE_1                    2966
EXT_SOURCE_2                    6778
EXT_SOURCE_3                    5474
APARTMENTS_AVG                  3371
BASEMENTAREA_AVG                2847
YEARS_BEGINEXPLUATATION_AVG     3501
YEARS_BUILD_AVG                 2305
COMMONAREA_AVG                  2078
ELEVATORS_AVG                   3216
ENTRANCES_AVG                   3414
FLOORSMAX_AVG                   3459
FLOORSMIN_AVG                   2208
LANDAREA_AVG                    2798
LIVINGAPARTMENTS_AVG            2166
LIVINGAREA_AVG                  3413
NONLIVINGAPARTMENTS_AVG         2094
NONLIVINGAREA_AVG               3105
APARTMENTS_MODE                 3371
BASEMENTAREA_MODE               2847
YEARS_BEGINEXPLUATATION_MODE    3501
YEARS_BUILD_MODE                2305
COMMONAREA_MODE                 2078
ELEVATORS_MODE                  3216
ENTRANCES_MODE                  3414
FLOORSMAX_MODE                  3459
FLOORSMIN_MODE                  2208
LANDAREA_MODE                   2798
LIVINGAPARTMENTS_MODE           2166
LIVINGAREA_MODE                 3413
NONLIVINGAPARTMENTS_MODE        2094
NONLIVINGAREA_MODE              3105
APARTMENTS_MEDI                 3371
BASEMENTAREA_MEDI               2847
YEARS_BEGINEXPLUATATION_MEDI    3501
YEARS_BUILD_MEDI                2305
COMMONAREA_MEDI                 2078
ELEVATORS_MEDI                  3216
ENTRANCES_MEDI                  3414
FLOORSMAX_MEDI                  3459
FLOORSMIN_MEDI                  2208
LANDAREA_MEDI                   2798
LIVINGAPARTMENTS_MEDI           2166
LIVINGAREA_MEDI                 3413
NONLIVINGAPARTMENTS_MEDI        2094
NONLIVINGAREA_MEDI              3105
FONDKAPREMONT_MODE              2162
HOUSETYPE_MODE                  3415
TOTALAREA_MODE                  3547
WALLSMATERIAL_MODE              3367
EMERGENCYSTATE_MODE             3604
OBS_30_CNT_SOCIAL_CIRCLE        6769
DEF_30_CNT_SOCIAL_CIRCLE        6769
OBS_60_CNT_SOCIAL_CIRCLE        6769
DEF_60_CNT_SOCIAL_CIRCLE        6769
DAYS_LAST_PHONE_CHANGE          6797
FLAG_DOCUMENT_2                 6797
FLAG_DOCUMENT_3                 6797
FLAG_DOCUMENT_4                 6797
FLAG_DOCUMENT_5                 6797
FLAG_DOCUMENT_6                 6797
FLAG_DOCUMENT_7                 6797
FLAG_DOCUMENT_8                 6797
FLAG_DOCUMENT_9                 6797
FLAG_DOCUMENT_10                6797
FLAG_DOCUMENT_11                6797
FLAG_DOCUMENT_12                6797
FLAG_DOCUMENT_13                6797
FLAG_DOCUMENT_14                6797
FLAG_DOCUMENT_15                6797
FLAG_DOCUMENT_16                6797
FLAG_DOCUMENT_17                6797
FLAG_DOCUMENT_18                6797
FLAG_DOCUMENT_19                6797
FLAG_DOCUMENT_20                6797
FLAG_DOCUMENT_21                6797
AMT_REQ_CREDIT_BUREAU_HOUR      5901
AMT_REQ_CREDIT_BUREAU_DAY       5901
AMT_REQ_CREDIT_BUREAU_WEEK      5901
AMT_REQ_CREDIT_BUREAU_MON       5901
AMT_REQ_CREDIT_BUREAU_QRT       5901
AMT_REQ_CREDIT_BUREAU_YEAR      5901
dtype: int64

In [80]:
percentile_nans = (len(data)-data.count())/len(data)*100
mask = percentile_nans <= 30
usable_variables = filled_cells[mask].reset_index(drop=False)['index'].to_numpy()
usable_variables

array(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL',
       'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
       'ORGANIZATION_TYPE', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype=object)

In [121]:
percentile_nans[mask]

SK_ID_CURR                      0.000000
TARGET                         14.712373
NAME_CONTRACT_TYPE              0.000000
CODE_GENDER                     0.000000
FLAG_OWN_CAR                    0.000000
FLAG_OWN_REALTY                 0.000000
CNT_CHILDREN                    0.000000
AMT_INCOME_TOTAL                0.000000
AMT_CREDIT                      0.000000
AMT_ANNUITY                     0.000000
AMT_GOODS_PRICE                 0.058849
NAME_TYPE_SUITE                 0.411946
NAME_INCOME_TYPE                0.000000
NAME_EDUCATION_TYPE             0.000000
NAME_FAMILY_STATUS              0.000000
NAME_HOUSING_TYPE               0.000000
REGION_POPULATION_RELATIVE      0.000000
DAYS_BIRTH                      0.000000
DAYS_EMPLOYED                   0.000000
DAYS_REGISTRATION               0.000000
DAYS_ID_PUBLISH                 0.000000
FLAG_MOBIL                      0.000000
FLAG_EMP_PHONE                  0.000000
FLAG_WORK_PHONE                 0.000000
FLAG_CONT_MOBILE                0.000000
FLAG_PHONE                      0.000000
FLAG_EMAIL                      0.000000
CNT_FAM_MEMBERS                 0.000000
REGION_RATING_CLIENT            0.000000
REGION_RATING_CLIENT_W_CITY     0.000000
WEEKDAY_APPR_PROCESS_START      0.000000
HOUR_APPR_PROCESS_START         0.000000
REG_REGION_NOT_LIVE_REGION      0.000000
REG_REGION_NOT_WORK_REGION      0.000000
LIVE_REGION_NOT_WORK_REGION     0.000000
REG_CITY_NOT_LIVE_CITY          0.000000
REG_CITY_NOT_WORK_CITY          0.000000
LIVE_CITY_NOT_WORK_CITY         0.000000
ORGANIZATION_TYPE               0.000000
EXT_SOURCE_2                    0.279535
EXT_SOURCE_3                   19.464470
OBS_30_CNT_SOCIAL_CIRCLE        0.411946
DEF_30_CNT_SOCIAL_CIRCLE        0.411946
OBS_60_CNT_SOCIAL_CIRCLE        0.411946
DEF_60_CNT_SOCIAL_CIRCLE        0.411946
DAYS_LAST_PHONE_CHANGE          0.000000
FLAG_DOCUMENT_2                 0.000000
FLAG_DOCUMENT_3                 0.000000
FLAG_DOCUMENT_4                 0.000000
FLAG_DOCUMENT_5                 0.000000
FLAG_DOCUMENT_6                 0.000000
FLAG_DOCUMENT_7                 0.000000
FLAG_DOCUMENT_8                 0.000000
FLAG_DOCUMENT_9                 0.000000
FLAG_DOCUMENT_10                0.000000
FLAG_DOCUMENT_11                0.000000
FLAG_DOCUMENT_12                0.000000
FLAG_DOCUMENT_13                0.000000
FLAG_DOCUMENT_14                0.000000
FLAG_DOCUMENT_15                0.000000
FLAG_DOCUMENT_16                0.000000
FLAG_DOCUMENT_17                0.000000
FLAG_DOCUMENT_18                0.000000
FLAG_DOCUMENT_19                0.000000
FLAG_DOCUMENT_20                0.000000
FLAG_DOCUMENT_21                0.000000
AMT_REQ_CREDIT_BUREAU_HOUR     13.182286
AMT_REQ_CREDIT_BUREAU_DAY      13.182286
AMT_REQ_CREDIT_BUREAU_WEEK     13.182286
AMT_REQ_CREDIT_BUREAU_MON      13.182286
AMT_REQ_CREDIT_BUREAU_QRT      13.182286
AMT_REQ_CREDIT_BUREAU_YEAR     13.182286
dtype: float64

In [92]:
data = data[usable_variables]
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1.0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0.0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0.0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0.0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0.0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
Y = data.iloc[:, data.columns == 'TARGET'].to_numpy()
X = data.iloc[:, data.columns != 'TARGET']
X = pd.get_dummies(X)

In [119]:
X.isna().sum()

SK_ID_CURR                                           0
CNT_CHILDREN                                         0
AMT_INCOME_TOTAL                                     0
AMT_CREDIT                                           0
AMT_ANNUITY                                          0
AMT_GOODS_PRICE                                      0
REGION_POPULATION_RELATIVE                           0
DAYS_BIRTH                                           0
DAYS_EMPLOYED                                        0
DAYS_REGISTRATION                                    0
DAYS_ID_PUBLISH                                      0
FLAG_MOBIL                                           0
FLAG_EMP_PHONE                                       0
FLAG_WORK_PHONE                                      0
FLAG_CONT_MOBILE                                     0
FLAG_PHONE                                           0
FLAG_EMAIL                                           0
CNT_FAM_MEMBERS                                      0
REGION_RATING_CLIENT                                 0
REGION_RATING_CLIENT_W_CITY                          0
HOUR_APPR_PROCESS_START                              0
REG_REGION_NOT_LIVE_REGION                           0
REG_REGION_NOT_WORK_REGION                           0
LIVE_REGION_NOT_WORK_REGION                          0
REG_CITY_NOT_LIVE_CITY                               0
REG_CITY_NOT_WORK_CITY                               0
LIVE_CITY_NOT_WORK_CITY                              0
EXT_SOURCE_2                                         0
EXT_SOURCE_3                                         3
OBS_30_CNT_SOCIAL_CIRCLE                             0
DEF_30_CNT_SOCIAL_CIRCLE                             0
OBS_60_CNT_SOCIAL_CIRCLE                             0
DEF_60_CNT_SOCIAL_CIRCLE                             0
DAYS_LAST_PHONE_CHANGE                               0
FLAG_DOCUMENT_2                                      0
FLAG_DOCUMENT_3                                      0
FLAG_DOCUMENT_4                                      0
FLAG_DOCUMENT_5                                      0
FLAG_DOCUMENT_6                                      0
FLAG_DOCUMENT_7                                      0
FLAG_DOCUMENT_8                                      0
FLAG_DOCUMENT_9                                      0
FLAG_DOCUMENT_10                                     0
FLAG_DOCUMENT_11                                     0
FLAG_DOCUMENT_12                                     0
FLAG_DOCUMENT_13                                     0
FLAG_DOCUMENT_14                                     0
FLAG_DOCUMENT_15                                     0
FLAG_DOCUMENT_16                                     0
FLAG_DOCUMENT_17                                     0
FLAG_DOCUMENT_18                                     0
FLAG_DOCUMENT_19                                     0
FLAG_DOCUMENT_20                                     0
FLAG_DOCUMENT_21                                     0
AMT_REQ_CREDIT_BUREAU_HOUR                           1
AMT_REQ_CREDIT_BUREAU_DAY                            1
AMT_REQ_CREDIT_BUREAU_WEEK                           1
AMT_REQ_CREDIT_BUREAU_MON                            1
AMT_REQ_CREDIT_BUREAU_QRT                            1
AMT_REQ_CREDIT_BUREAU_YEAR                           1
NAME_CONTRACT_TYPE_Cash loans                        0
NAME_CONTRACT_TYPE_Revolving loans                   0
CODE_GENDER_F                                        0
CODE_GENDER_M                                        0
FLAG_OWN_CAR_N                                       0
FLAG_OWN_CAR_Y                                       0
FLAG_OWN_REALTY_N                                    0
FLAG_OWN_REALTY_Y                                    0
NAME_TYPE_SUITE_Family                               0
NAME_TYPE_SUITE_Unaccompanied                        0
NAME_INCOME_TYPE_State servant                       0
NAME_INCOME_TYPE_Working                             0
NAME_EDUCATION_TYPE_Higher education                 0
NAME_EDUCATION_TYPE_Secondary / secondary special    0
NAME_FAMILY_STATUS_Civil marriage                    0
NAME_FAMILY_STATUS_Married                           0
NAME_FAMILY_STATUS_Single / not married              0
NAME_HOUSING_TYPE_House / apartment                  0
WEEKDAY_APPR_PROCESS_START_MONDAY                    0
WEEKDAY_APPR_PROCESS_START_THURSDAY                  0
WEEKDAY_APPR_PROCESS_START_WEDNESDAY                 0
ORGANIZATION_TYPE_Business Entity Type 3             0
ORGANIZATION_TYPE_Government                         0
ORGANIZATION_TYPE_Religion                           0
ORGANIZATION_TYPE_School                             0
dtype: int64

In [114]:
# label_encoder = LabelEncoder()
# label_encoder = label_encoder.fit(Y)
# label_encoded_y = label_encoder.transform(Y)
seed = 7
test_size = 0.33
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, label_encoded_y, test_size=test_size, random_state=seed)

In [117]:
X_train.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Single / not married,NAME_HOUSING_TYPE_House / apartment,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,ORGANIZATION_TYPE_Business Entity Type 3,ORGANIZATION_TYPE_Government,ORGANIZATION_TYPE_Religion,ORGANIZATION_TYPE_School
2,100004,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260,...,0,1,1,1,0,0,0,1,0,0
1,100003,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,-1186,...,1,0,1,1,0,0,0,0,0,1
4,100007,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,-4311,...,0,1,1,0,1,0,0,0,1,0

In [118]:
X_train.columns

Index(['SK_ID_CURR', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE',
       'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'EXT_SOURCE_2',
       'EXT_SOURCE_3', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR',
       'NAME_CONTRACT_TYPE_Cash loans', 'NAME_CONTRACT_TYPE_Revolving loans',
       'CODE_GENDER_F', 'CODE_GENDER_M', 'FLAG_OWN_CAR_N', 'FLAG_OWN_CAR_Y',
       'FLAG_OWN_REALTY_N', 'FLAG_OWN_REALTY_Y', 'NAME_TYPE_SUITE_Family',
       'NAME_TYPE_SUITE_Unaccompanied', 'NAME_INCOME_TYPE_State servant',
       'NAME_INCOME_TYPE_Working', 'NAME_EDUCATION_TYPE_Higher education',
       'NAME_EDUCATION_TYPE_Secondary / secondary special',
       'NAME_FAMILY_STATUS_Civil marriage', 'NAME_FAMILY_STATUS_Married',
       'NAME_FAMILY_STATUS_Single / not married',
       'NAME_HOUSING_TYPE_House / apartment',
       'WEEKDAY_APPR_PROCESS_START_MONDAY',
       'WEEKDAY_APPR_PROCESS_START_THURSDAY',
       'WEEKDAY_APPR_PROCESS_START_WEDNESDAY',
       'ORGANIZATION_TYPE_Business Entity Type 3',
       'ORGANIZATION_TYPE_Government', 'ORGANIZATION_TYPE_Religion',
       'ORGANIZATION_TYPE_School'],
      dtype='object')

In [103]:
model = sm.Logit(y_train, sm.add_constant(X_train)).fit()

MissingDataError: exog contains inf or nans